{% extends 'accounts/main.html' %}

{% block content %}


<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <p>Are you sure you want to delete "{{order}}"?</p>
            <!-- <form action="{% url 'delete_order' order.id %}" method="POST"> -->
            <form action="" method="POST">
                {% csrf_token %}
                <a href="{% url 'home' %}" class="btn btn-warning">Cancel</a>
                <input type="submit" name="Confirm" value="Confirm" class="btn btn-danger">
            </form>

        </div>
    </div>
</div>


    

{% endblock %}